.card-custom {
  border-radius: 0px !important;
  border-top: #5e72e4 3px solid;
}

.bg-white {
  background-color: #ffffff;
}

.bg-grey {
  background-color: #dee2e6;
}

span .h6 {
  font-size: .625rem;
}

.btn-block {
  border-radius: 0px !important;
  background: #fa9640;
  color: white !important;
}

.tableview {
  background: white;
  border-radius: 0px;
  background-color: #ffffff;
  width: 100%;
}

.tableview .nav-link {
  font-size: .75em;
  margin: 10px;
  font-weight: 600;

}

.pills .nav-link.active,
.pills .show>.nav-link {
  border-left: #fa9640 3px solid;
  color: #fa9640 !important;
}

.detail {
  display: none;
}

.bold {
  font-weight: 600;
}

.modal .full {
  margin: auto;

}

.btn-block-sm {
  /* background-color: #fa9640; */
  border-radius: 0px !important;
}

.btn-theme {
  background-color: #fa9640;
}